---
date: "2013-05-01"
active: true
title: "Light Leaks"
client: "Click Festival"
category: "installations"
---

<script context="module">
  import Vimeo from '$lib/components/Vimeo.svelte'
    import _previewImg from './lightleaks.jpg?w=500&h=500&webp'
    import _previewVideo from './lightleaks.mp4'

    metadata.previewImg = _previewImg
    metadata.previewVideo = _previewVideo
    
</script>


<Vimeo videoId="66167082" />

A scattered array of fifty mirror balls reflect light from three projectors, filling a room completely with small reflections, casting patterns that fill the visitor’s peripheral vision. This creates a curious space that alternates between a meditative state, and an uneasy imbalance. It's an experiment in combining a found object with computer vision to create a profound and unusual experience. This installation was created in collaboration with [Kyle McDonald](http://kylemcdonald.net/) for [Click Festival 2013](http://clickfestival.dk/)

This installation has been shown at [La Gaîté Lyrique](https://gaite-lyrique.net/en/capitaine-futur-and-the-extraordinary-journey) (Paris, 2014) and [Scopitone Festival](http://www.stereolux.org/scopitone-2016) (Nantes, 2015).

Press mentions: [Creative Applications](http://www.creativeapplications.net/environment/light-leaks-filling-a-room-with-projected-light/),
Holo 1 Magazine,
[Wired](http://www.wired.com/2013/05/showtime-kyle-mcdonald-light-leaks/),
[Gizmodo](http://gizmodo.com/disco-balls-can-actually-facilitate-art-not-just-boogy-509916202),
[The Verge](http://www.theverge.com/2013/7/23/4550210/watch-fifty-disco-balls-create-a-room-full-of-beautiful-static),
[Projection Mapping](http://projection-mapping.org/light-leaks-kyle-mcdonald/),
[Vice The Creators Project](http://thecreatorsproject.vice.com/blog/projection-mapped-disco-balls)

Source code: [Github](https://github.com/kylemcdonald/LightLeaks)
