---
title: "Malpais"
date: "2011-03-29"
client: "Recoil Performance Group"
category: "theatre"
---

<script context="module">
  import Vimeo from '$lib/components/Vimeo.svelte'
    import _previewImg from './malpais.jpg?w=500&h=500&webp'
    import _previewVideo from './malpais.mp4'

    metadata.previewImg = _previewImg
    metadata.previewVideo = _previewVideo
    
</script>

<Vimeo videoId="20597987" />
